$media-small: 'screen and (max-width: 660px)';
$media-medium: 'screen and (max-width: 1280px)';
$border-color: #98b232;

strong {
  font-weight: 700;
}

a {
  color: rgb(114, 192, 212);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    border-bottom-width: 100%;
  }
}
