$break-small: 600px;
$media-small: 'screen and (max-width: 660px)';
$border-color: #98b232;

strong {
  font-weight: 700;
}

a {
  color: #98b232;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    border-bottom-width: 100%;
  }
}
