@import '../../styles/global';

section {
  margin-bottom: 2.75rem;
}

footer {
  font-size: 1.2rem;
}

.description {
  background-color: white;
  font-size: 2.5rem;

  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;

  overflow: auto;
  padding: 4rem 14rem 4rem 4rem;

  @media #{$media-medium} {
    font-size: 2rem;
    padding: 4rem 3rem 4rem 4rem;
  }

  @media #{$media-small} {
    font-size: 1.5rem;
    overflow: none;
    padding: 4rem 2rem 2rem;
  }
}

.greeting {
  margin-bottom: 30px;

  &::after {
    content: '';
    display: block;
    width: 33%;
    padding: 15px;
    border-bottom: 1px solid $border-color;
  }
}
