@import 'layout.reset';

$break-small: 600px;
$media-small: 'screen and (max-width: 600px)';

main {
  display: grid;
  grid:
    1fr
    / 1fr 1fr;

  @media #{$media-small} {
    grid: 1fr / 1fr;
  }
}
